<div class="container-admin" data-ng-controller="AdminCtrl"> <div class="row vspace-page"> <div data-ng-include="'views/includes/admin-menu.html'"></div> <div class="col-lg-10 col-sm-10"> <div class="container-white" data-ng-controller="AgendaCtrl"> <div class="row"> <div class="col-lg-5 col-sm-5"> <a href="#/agenda/activities"><h2>Agenda</h2></a> <a href="#/agenda/activities"><div class="well well-agenda"> </div></a> </div> <!--
                    <div class="col-lg-5 col-sm-5" >
                        <a href="#/photo/photos"> <h2>Foto</h2></a>
                        <a href="#/photo/photos"><div class="well well-foto">

                        </div></a>

                    </div>

                    <div class="col-lg-2 col-sm-2" >


                    </div>
--> </div> </div> </div> </div> </div>