<div class="container"> <div class="row intro-order"> <div class="col-lg-12 col-sm-12"></div> </div> </div> <div class="content-section-a" order> <div class="container"> <!--<div class="row">
                <div class="col-lg-8" >
                  <h2 translate >Bestelling</h2>
                </div>
            </div>--> <form id="bestelling" name="order" action="http://www.dayclocks.nl/send.php" method="POST"> <div class="row"> <div class="col-lg-8 lead"> <form role="form"> <input type="hidden" name="artikel" value="standaard"> <input type="hidden" name="prijs" value="80.00"> <section data-ng-include="'views/includes/order-shop.html'"></section> </form> </div> </div> </form> </div> <!-- /.container --> </div>