<div class="container-admin"> <div class="row vspace-page"> <div data-ng-include="'views/includes/admin-menu.html'"></div> <div class="col-lg-10 col-sm-10"> <div class="container-white"> <div class="row"> <!--<div ng-show="isLoading" class="text-center"><img src="img/loader.gif"/></div>--> <div class="col-lg-8 col-sm-8"> factuur <!--
            <table ng-table="tableParams" class="table">
              <tr ng-repeat="order in $data">
                <td data-title="'Datum'">{{order.orderDate}}</td>
                <td data-title="'Email'">{{order.email}}</td>
                <td data-title="'Adres'">{{order.address}}</td>
              </tr>
            </table>--> </div> </div> </div> </div> </div> </div>