<div class="container-admin"> <div class="row vspace-page"> <div data-ng-include="'views/includes/admin-menu.html'"></div> <div class="col-lg-10 col-sm-10"> <div class="container-white"> <div class="col-lg-10 col-sm-10"> <h3 translate>Instellingen</h3> <form class="form-horizontal"> <h4>Datum</h4> <div class="form-group col-sm-3"> <label translate>Datum formaat</label> <select class="form-control" ng-model="dateFormat"> <option>dd-mm-yyyy <option>mm/dd/yyyy </select> </div> <!--
                  <div class="form-group col-sm-8">
                      <label>Email</label>
                      <input type="email" class="form-control" id="inputEmail3" placeholder="Email">
                  </div>
                  --> </form> </div> <div class="col-lg-10 col-sm-10"> </div> <div class="col-lg-10 col-sm-10"> <div class="text-center form-group col-lg-2 col-md-2 col-xs-2 col-sm1" style="margin-right :5px"> <button ng-click="save()" class="btn btn-green full-width"><span class="glyphicon glyphicon-ok"></span></button> </div> </div> </div> </div> </div> </div>