<div layout="row" flex>

  <md-card layout-padding flex>
    <div layout="column" layout-padding>
      <div class="row">
        <h2 class="md-title" trans>Importeren ICS-bestand</h2>

        <input id="uploadButton" type="file" class="ng-hide" ng-model-instant
               onchange="angular.element(this).scope().fileUpload(event)">

        <p trans>ICS is de universele kalender formaat dat wordt gebruikt door verschillende e-mail en agenda-programma's, waaronder Microsoft Outlook, Google Calendar, en Apple iCal.</p>

        <label for="uploadButton" class="md-button md-raised md-primary" trans>Selecteer een ICS-bestand</label>


        <label class="md-label"> {{filename}}</label>

      </div>

      <div flex="80" ng-show="!importDisabled">
        <div class="form-group">
          <label trans>Activiteit kleur</label>

          <div class="well" style="height :80px">
            <div ng-click="pickColor('red')" class="img-rounded pick-color" ng-class="{'color-selected': selectedColor == 'red'}"></div>
            <div ng-click="pickColor('green')" class="img-rounded pick-color pick-green" ng-class="{'color-selected': selectedColor == 'green'}"></div>
            <div ng-click="pickColor('blue')" class="img-rounded pick-color pick-blue" ng-class="{'color-selected': selectedColor == 'blue'}"></div>
            <div ng-click="pickColor('white')" class="img-rounded pick-color pick-white" ng-class="{'color-selected': selectedColor == 'white'}"></div>
          </div>
        </div>
      </div>


      <div class="row" flex>
        <md-button class="md-raised md-primary" ng-click="import()" ng-show="!importDisabled"><span trans>Importeren</span></md-button>

        <p></p>
        <p trans data-ng-show="ready">De activiteiten zijn geimporteerd. Ga terug naar 'Agenda' om deze te bekijken.</p>
      </div>
    </div>

  </md-card>

</div>

