<div class="col-lg-2 col-sm-2 menu-admin" data-ng-controller="AuthenticateCtrl"> <ul> <li><h4 class="menu-admin-item"><a href="#/agenda/activities"><i class="fa fa-calendar-o ma-icon"></i> Agenda</a></h4></li> <!--<li data-ng-show="isAdmin()"><h4><a href="#/groups/list">Groepen</a></h4></li>--> <li><h4 class="menu-admin-item"><a href="#/admin/settings"><i class="fa fa-cog ma-icon"></i>Instellingen</a></h4></li> <li data-ng-show="isAdmin()"><h4 class="menu-admin-item"><a href="#/admin/users"><i class="fa fa-users ma-icon"></i>Gebruikers</a></h4></li> <!--<li><h4 class="menu-admin-item"translate>Beheer</h4></li>--> <!--
          <ul>
            <li><a href="#/admin/users" translate>Instellingen</a></li>
          </ul>
          <ul>
            <li><a href="#/admin/groups" translate>Groepen</a></li>
          </ul>

          <ul>
            <li><a href="#/admin/orders" translate>Bestellingen</a></li>
          </ul>

        </li

            --> </ul> </div>