<md-card layout-padding>
  <div layout="column"  data-ng-controller="AuthenticateCtrl">
    <h1>{{institution.name}}</h1>
  </div>

  <div layout="row">
    <md-card flex="30" layout-padding style="text-align: center">
      <h3>Deelnemers</h3>
      <h1>100</h1>
    </md-card>

    <md-card  flex="30" layout-padding style="text-align: center">
      <h3>Groepen</h3>
      <h1>100</h1>
    </md-card>

    <md-card  flex="30" layout-padding style="text-align: center">
      <h3>Activiteiten</h3>
      <h1>100</h1>
    </md-card>
  </div>

</md-card>
