<div layout="row" flex>

  <md-card layout-padding flex>

    <section ng-repeat="month in months">
      <h1>{{month.month}}</h1>
      <md-grid-list md-cols="7" md-gutter="1em" md-row-height="4:3">
        <md-grid-tile  class="ca-tile" ng-repeat="day in month.days">
          <div class="ca-day"> {{$index+1}}</div>
          <div ng-repeat="activity in day">
            {{activity.title}}
          </div>
        </md-grid-tile>
      </md-grid-list>
    </section>

  </md-card>

</div>

