<div layout="row" flex>

  <md-card layout-padding flex>
    <div layout="column">
      <h2 class="md-title">Agenda</h2>

      <md-data-table-toolbar ng-show="!selected.length">


        <a href="#/adminmd/agenda/new" style="float :left">
          <md-button class="md-raised md-primary"><span trans>Nieuw</span></md-button>
        </a>

        <span data-ng-controller="AuthenticateCtrl" data-ng-hide="hasInstitute() || hasGroupAdmin()">
          <a href="#/adminmd/import"  style="float :left">
            <md-button class="md-raised md-primary"><span trans>Importeren</span></md-button>
          </a>
        </span>

      </md-data-table-toolbar>


        <md-input-container ng-show="isCaretaker()"  >

          <md-select ng-model="selectedUser" style="float :left;width : 200px; margin-left : 20px" placeholder="{{selectedUser.username}}">

            <md-option ng-value="user" ng-repeat="user in users" > {{ user.username }}</md-option>
          </md-select>
        </md-input-container>



      <md-data-table-container>
        <table md-table md-progress="deferred">
          <thead md-head md-order="query.order" md-on-reorder="onOrderChange">
          <tr md-row>
            <th md-column></th>
            <th md-column ng-show="hasInstitute()" order-by="group"><span trans>Groep</span></th>
            <th md-column md-order-by="title" ><span trans>Activiteit</span></th>
            <th md-column md-order-by="startDate"><span trans>Begin</span></th>
            <th md-column><span trans>Einde</span></th>
            <th md-column><span trans>Dagen</span></th>
            <th md-column><span trans>Afbeelding</span></th>
            <th md-column></th>
          </tr>

          </thead>
          <tbody md-body>

          <tr md-auto-select ng-repeat="activity in activities  | limitTo: query.limit : (query.page -1) * query.limit">
            <td md-cell width="50px">
              <div ng-style="{ width : '50px', height : '30px', 'background-color': '#{{activity.backgroundColorFrom}}' }"></div>
            </td>
            <td md-cell ng-show="hasInstitute()">{{activity.groupTitle}}</td>
            <td md-cell data-ng-click="edit(activity.key)">{{activity.title}}</td>
            <td md-cell>{{activity.startDate}}</td>
            <td md-cell>{{activity.endDate | format}}</td>
            <td md-cell>{{activity.repeatOnDays | formatRepeat:activity.startDate}}</td>
            <td md-cell>
                      
                     <span data-ng-show="activity.pictureUrl !== '' && activity.pictureUrl !== 'undefined'  && activity.pictureUrl != 'null'">
                      <span ng-if="activity.pictureData == null">
                          <img img-cache ic-src="{{activity.pictureUrl}}" class="voorbeeld-image-small" style="width : auto" />
                          </span>
                      <span ng-if="activity.pictureData != null">
                          <img src="{{getPictureData(activity)}}" class="voorbeeld-image-small" style="width : auto" />
                      </span>
                  </span>
                      
            </td>
            <td md-cell>

            <i data-ng-hide="hasRoleDemo() || (!hasInstitute() && activity.group.length > 0 )" data-ng-click="edit(activity.key)" class="color-green fa fa-edit fa-2x"
                 style="margin-right: 10px"></i>
              <i data-ng-hide="hasRoleDemo() || (!hasInstitute() && activity.group.length > 0 ) " data-ng-click="delete(activity.key)"
                 class="color-green fa fa-trash-o fa-2x"></i>
            </td>

          </tr>
          </tbody>
        </table>
      </md-data-table-container>
      <md-table-pagination md-limit="query.limit" md-limit-options="limitOptions" md-page="query.page" md-total="{{activities.length}}" md-page-select="true" ></md-table-pagination>
    </div>

  </md-card>

</div>

