<div layout="row" flex>

  <md-card layout-padding flex>
    <h1>{{month.month}}</h1>
    <md-grid-list md-cols="7" md-gutter="0.5em" md-row-height="1:1">
      <md-grid-tile class="ca-tile" ng-repeat="day in month.days">
        <div layout="column" layout-fill>
          <div class="ca-day"> {{$index+1}}</div>
          <div class="ca-activities">
            <div ng-repeat="activity in day">
              <div class="ca-activity"><a href="">{{activity.title}}</a></div>
            </div>
          </div>
        </div>

      </md-grid-tile>
    </md-grid-list>
  </md-card>

</div>

