<md-card layout-padding>
  <div layout="column">


    <h2 class="md-title" data-ng-show="isNew" trans>Nieuwe activiteit</h2>
    <h2 class="md-title" data-ng-show="!isNew" trans>Wijzigen activiteit</h2>


    <form name="activityForm" novalidate>

      <div layout="row" ng-hide="showAlbum">
        <md-input-container flex="30" ng-show="hasInstitute() || isGroupAdmin()" style="margin-right : 10px">
          <label trans>Groep</label>
          <md-select data-ng-model="groupSettings.group">
            <!--<md-option ng-value="all" size="20"><span trans>Alle groepen</span></md-option>-->
            <md-option data-ng-value="group.value" data-ng-repeat="group in groups">{{ group.label }}</md-option>
          </md-select>
        </md-input-container>

        <md-input-container flex="50">
          <label trans>Activiteit</label>
          <input name="title" ng-model="title" ng-required="!showAlbum" size="100">
          <div ng-messages="userForm.title.$error" ng-show="userForm.title.$dirty">

          </div>
        </md-input-container>
      </div>

      <div layout="row" ng-show="hasAlbum()">
        <div flex="80">

          <md-checkbox name="album" trans ng-model="showAlbum" style="margin-right: 50px" ng-change="changeAlbum()">
            <span trans>Fotoalbum</span>
          </md-checkbox>


          <md-input-container ng-show="showAlbum">
            <md-select ng-model="selectedAlbum" style="width : 300px">
              <md-option ng-value="album" ng-repeat="album in albums">{{ album.title }}</md-option>
            </md-select>
          </md-input-container>
        </div>
      </div>

      <div layout="row">
        <div flex="30" style="margin-top : 18px" trans>Begin</div>
        <div flex="25" style="margin-top : 18px" trans>Einde</div>
      </div>
      <div layout="row">
        <div layout="row" flex="30">
          <md-input-container flex="15">
            <input name="title" ng-model="startTime" ng-pattern="timePattern" ui-mask="99:99" ui-mask-placeholder
                   ui-mask-placeholder-char=" " required>
          </md-input-container>
          <div style="margin-top : 18px">
            <md-datepicker datepicker-validation-fix name='startdatum' ng-model='startDate' ng-disabled='days.repeat'
                           ng-required='!days.repeat'></md-datepicker>
          </div>

        </div>

        <div layout="row" flex="40">
          <md-input-container flex="15">
            <input name="title" ng-model="endTime" ng-pattern="timePattern" ui-mask="99:99" ui-mask-placeholder
                   ui-mask-placeholder-char=" " required>
          </md-input-container>
          <div style="margin-top : 18px">
            <md-datepicker datepicker-validation-fix ng-model="endDate" ng-disabled="days.repeat"
                           ng-required="!days.repeat"></md-datepicker>
          </div>
        </div>
      </div>

      <div layout="row" id="repeat">

        <div flex="80">
          <md-checkbox name="repeat" trans ng-model="days.repeat" style="margin-right: 10px" ng-change="changeRepeat()">
            <span trans>Herhaling</span></md-checkbox>
          <span data-ng-show="days.repeat">
            <md-checkbox  ng-model="days.su" ng-change="checkRepeat()"><span trans>Zo</span></md-checkbox>
            <md-checkbox  ng-model="days.mo" ng-change="checkRepeat()"><span trans>Ma</span></md-checkbox>
            <md-checkbox  ng-model="days.tu" ng-change="checkRepeat()"><span trans>Di</span></md-checkbox>
            <md-checkbox  ng-model="days.we" ng-change="checkRepeat()"><span trans>Wo</span></md-checkbox>
            <md-checkbox  ng-model="days.th" ng-change="checkRepeat()"><span trans>Do</span></md-checkbox>
            <md-checkbox  ng-model="days.fr" ng-change="checkRepeat()"><span trans>Vr</span></md-checkbox>
            <md-checkbox  ng-model="days.sa" ng-change="checkRepeat()"><span trans>Za</span></md-checkbox>
          </span>
        </div>
      </div>


      <div layout="row" id="speech" >

        <div flex="100">

          <md-input-container flex="30"  ng-show="hasSpeech()" >
            <md-checkbox name="speech" trans ng-model="speech" style="margin-right: 10px">
            <span trans>Spraak</span></md-checkbox>
          </md-input-container>
          <md-input-container flex="30" >
            <md-checkbox name="sound" trans ng-model="sound" style="margin-right: 10px">
              <span trans>Geluid</span></md-checkbox>
          </md-input-container>
          <span data-ng-show="speech || sound">
            <md-input-container flex="30" style="margin-right : 40px;" >
              <label trans>Interval (seconden)</label>
              <input type="number" string-to-number name="speechInterval" ng-model="speechInterval"  ng-required='speech'>
            </md-input-container>

            <md-input-container flex="30" >
              <label trans>Aantal herhalingen</label>
              <input type="number" string-to-number name="speechMaxRepeat" ng-model="speechMaxRepeat" ng-required='speech'>
            </md-input-container>

          </span>
        </div>
      </div>


      <div layout="row" ng-hide="showAlbum">
        <div flex="80">
          <div class="form-group">
            <label trans>Activiteit kleur</label>
            </br>
            <div class="well" style="height :80px">
              <div ng-click="pickColor('red')" class="img-rounded pick-color" ng-class="{'color-selected': selectedColor == 'red'}"></div>
              <div ng-click="pickColor('green')" class="img-rounded pick-color pick-green" ng-class="{'color-selected': selectedColor == 'green'}"></div>
              <div ng-click="pickColor('blue')" class="img-rounded pick-color pick-blue" ng-class="{'color-selected': selectedColor == 'blue'}"></div>

              <div ng-click="pickColor('yellow')" class="img-rounded pick-color pick-yellow" ng-class="{'color-selected': selectedColor == 'yellow'}"></div>
              <div ng-click="pickColor('pink')" class="img-rounded pick-color pick-pink" ng-class="{'color-selected': selectedColor == 'pink'}"></div>
              <div ng-click="pickColor('purple')" class="img-rounded pick-color pick-purple" ng-class="{'color-selected': selectedColor == 'purple'}"></div>
              <div ng-click="pickColor('orange')" class="img-rounded pick-color pick-orange" ng-class="{'color-selected': selectedColor == 'orange'}"></div>
              <div ng-click="pickColor('lime')" class="img-rounded pick-color pick-lime" ng-class="{'color-selected': selectedColor == 'lime'}"></div>
              <div ng-click="pickColor('chocolate')" class="img-rounded pick-color pick-chocolate" ng-class="{'color-selected': selectedColor == 'chocolate'}"></div>

              <div ng-click="pickColor('white')" class="img-rounded pick-color pick-white" ng-class="{'color-selected': selectedColor == 'white'}"></div>

              
            </div>

          </div>
        </div>


      </div>


      <div layout="row" ng-hide="showAlbum">
        <div flex="40">
          <label trans>Afbeelding</label>
          <form ng-app="fileUpload" name="uploadForm">
            <div ngf-drop ng-model="files"
                 ngf-drag-over-class="dragover" ngf-multiple="false" ngf-allow-dir="false"
                 ngf-min-size='10'
                 ngf-max-size='2000000'
                 ngf-accept="'.jpg,.png,.mp3,.jpeg'"
                 class="drop-box" >
              <span trans>Sleep hier hier uw afbeelding naar toe (max 2MB)</span>

            </div>
            <div ngf-no-file-drop>File Drag/Drop is not supported for this browser</div>
          </form>
        </div>

        <div flex="30">
          <div class="voorbeeld-image" ng-show="files[0] != null">
            <img  style="height : 200px; width : auto"  ngf-src="files[0]">
          </div>

          <div class="voorbeeld-image" ng-show="files[0] == null && image != 'undefined' && image != ''">

              <img  style="float : left;height : 200px; width : auto" src="{{image}}">
              <i  style="float : left; margin-left : 10px" data-ng-click="deleteImage()" class="color-green fa fa-trash-o fa-2x"></i>
          </div>
        </div>

        <div flex="10" ng-show="image != 'undefined' && image != ''">

        </div>
      </div>


  </div>


  <div layout="row" ng-hide="showAlbum">
    <div flex="80">
      <h4 trans>Voorbeeld</h4>
      <div class="voorbeeld-activiteit col-lg-12 col-sm-12" ng-style="examplediv">
        <h2 ng-style="exampleh2">{{title}}</h2>
      </div>
    </div>
  </div>
  </form>

  <div layout="row">
    <div flex>
      <md-button class="md-raised" ng-click="cancel()"><span trans>Annuleren</span></md-button>
      <md-button class="md-raised md-primary" ng-click="save()" ng-disabled="activityForm.$invalid"><span
        trans>Bewaren</span></md-button>
    </div>
  </div>

</md-card>
