<md-card layout-padding>
  <md-grid-list layout="column">

    <h2 class="md-title" trans>Album</h2>

    <form name="albumForm" novalidate>

      <div layout="row">
        <md-input-container flex="50">
          <label trans>Album</label>
          <input name="title" ng-model="album.title" required size="100">
          <div ng-messages="userForm.title.$error" ng-show="userForm.title.$dirty">
          </div>
        </md-input-container>
      </div>

      <div layout="row">
        <md-input-container flex="25">
          <label trans>Duur</label>
          <input type="number" name="duration" ng-model="album.duration" required size="10"><span trans>(seconden)</span>
        </md-input-container>
      </div>


      <md-grid-list md-cols="5" md-gutter="1em" md-row-height="150px" >
        <md-grid-tile  ng-repeat="photo in photos"  ng-drop="true" ng-drop-success="onDropComplete($index, $data,$event)">


          <div image-dimensions >
            <img src="{{photo.url}}"  ng-show="width > height " ng-drag="true"   ng-drag-data="photo"  style="width: 200px; height : 150px" />
            <img src="{{photo.url}}"  ng-show="width < height " ng-drag="true"   ng-drag-data="photo"  style="width: 100px; height : 150px" />
          </div>



          <div class="photo-trash"> <i data-ng-click="delete($index)" class="color-green fa fa-trash-o fa-2x"></i></div>
        </md-grid-tile>

        <md-grid-tile ng-app="fileUpload" ngf-drop ng-model="files" class="drop-box-photo"
                      ngf-drag-over-class="dragover" ngf-multiple="false" ngf-allow-dir="false"
                      ngf-min-size='10'
                      ngf-max-size='2000000'
                      ngf-accept="'.jpg,.png,.mp3,.jpeg'">

          <span trans><i class="fa fa-plus fa-2x"></i></span>


        </md-grid-tile>


      </md-grid-list>

      <md-button data-ng-click="save()" class="md-raised md-primary"><span trans>Bewaren</span></md-button>


    </form>


</md-card>
