<div layout="row" flex>

  <md-card layout-padding flex>
    <div layout="column">
      <h2 class="md-title">Album</h2>

      <md-data-table-toolbar ng-show="!selected.length">
          <md-button data-ng-click="new()" class="md-raised md-primary"><span trans>Nieuw</span></md-button>

      </md-data-table-toolbar>

      <md-data-table-container>
        <table md-table md-progress="deferred">
          <thead md-head md-order="query.order" md-on-reorder="onOrderChange">
          <tr md-row ng-if="(getLanguage()  == null ) || (getLanguage()  == 'nl' )">
            <th md-column md-order-by="title">Album</th>
            <th md-column></th>
          </tr>
          </thead>
          <tbody md-body>

          <tr md-auto-select ng-repeat="album in albums  | limitTo: query.limit : (query.page -1) * query.limit">

            <td md-cell data-ng-click="edit(album.id)">{{album.title}}</td>
            <td md-cell>
              <i data-ng-click="delete(album.id)" class="color-green fa fa-trash-o fa-2x"></i>
            </td>

          </tr>
          </tbody>
        </table>
      </md-data-table-container>
      <md-table-pagination md-limit="query.limit" md-limit-options="limitOptions" md-page="query.page"
                           md-total="{{albums.length}}" md-page-select="true"></md-table-pagination>
    </div>

  </md-card>

</div>

