<!--<section data-ng-include="'views/submenu.html'" ></section>--> <div id="scrollArea" ng-controller="ScrollController"> <div class="intro-header-agenda"> <div class="container"> <div class="row"> <div class="col-lg-12 col-sm-12"> <div class="image-title-wrapper"> </div> </div> </div> </div> </div> <div class="content-section-a"> <div class="container"> <div class="row"> <div class="col-lg-6 col-sm-6 lead"> <h2 class="section-heading" translate>DayClock Agenda</h2> <p translate>DayClock Agenda biedt een agenda functie voor de DayClock om activiteiten weer te geven. Bijvoorbeeld om aan te geven of men naar de kapper of de bingo gaat. </p> </div> <div class="col-lg-6 col-sm-6"> <img style="margin-top: 60px" class="img-rounded img-responsive" src="/img/agenda/bingo-green.fb07127d.png"> </div> </div> </div> </div> <div class="content-section-b"> <div class="container"> <div class="row"> <div class="col-lg-6 col-sm-6"> <img style="margin-top: 60px" class="img-rounded img-responsive" src="/img/agenda/agenda-koffie.6cf56098.jpg">  </div> <div class="col-lg-6 col-sm-6 lead"> <h2 class="section-heading" translate>Activiteiten</h2> <p translate>Met de Agenda functie kunt u een activiteit ofwel een boodschap op de DayClock bij de gebruiker plaatsen. Dat kan de aankondiging van een bezoek zijn, een herinnering voor de Bingo, of elke andere activiteit. De activiteiten kunt u via de website invoeren.</p> <!--<p translate>U heeft hier een abonnement voor nodig. Om toegang te krijgen tot het beheer van deze activiteiten krijgt u van ons dan een gebruikersnaam en een wachtwoord.</p>--> </div> </div> </div> <div class="content-section-a"> <div class="container"> <div class="row"> <div class="col-lg-6 col-sm-6 lead"> <h2 class="section-heading" translate>WiFi</h2> <p translate>Alle activiteiten worden worden opgeslagen op een speciale server op het internet. De DayClock communiceert via WiFi met deze server.</p> <p translate>De gebruiker hoeft niet perse over WiFi te beschikken als u uw Agenda activiteiten op de DayClock thuis invult en daarna bij de gebruiker plaatst. De DayClock zal dan, bij de gebruiker zonder WiFi, de Agenda activiteiten op de ingevulde dagen en tijden laten zien.</p> </div> <div class="col-lg-6 col-sm-6"> <img style="margin-top: 60px" class="img-rounded img-responsive" src="/img/agenda/cloud.b318d7c7.png"> </div> </div> </div> </div> <!--
<div class="content-section-a">

    <div class="container">

        <div class="row">
            <div class="col-lg-6 col-sm-6 lead" >
                <h2 class="section-heading">Foto</h2>
                <p>
                    Op de <b>Foto kaart</b> worden foto's getoond, bijvoorbeeld een foto van een kind of kleindochter of twee spelende kinderen.
                </p>
                <p>
                   De foto kan op afstand via de website van DayClocks.nl worden ingevoerd.
                </p>

            </div>

            <div class="col-lg-6  col-sm-6">
                <img class="img-rounded img-responsive" src="/img/agenda/kids.adbd92d8.jpg" >
            </div>




        </div>

    </div>

</div>

--> <!--<div class="content-section-a">

    <div class="container">

        <div class="row">
            <div class="col-lg-6  col-sm-6">
                <img class="img-rounded img-responsive" src="/img/beheer/login.ccd0d083.png" >
            </div>

            <div class="col-lg-6 col-sm-6 lead" >
                <h2 class="section-heading" translate>Beheer</h2>
                <p translate>De DayClock Agenda kan worden beheerd via de website van DayClocks.nl
                </p>

            </div>


        </div>

    </div>

</div>

--> <div class="content-section-b"> <div class="container"> <div class="row"> <div class="col-lg-12 col-md-12"> <h1 id="bestellen" class="green" translate>Bestellen</h1> </div> </div> <div class="row"> <div class="col-lg-4 col-md-4"> <div> </div> </div> <div class="col-lg-4 col-md-6"> <div class="well product-well"> <img class="center-block img-rounded img-responsive" src="../img/agenda/bingo-green.fb07127d.png"> <p translate>Toont dag en datum</p> <p translate>Inclusief standaard</p> <p translate>Kleur : mat wit</p> <h3 class="price">&euro; 169,95</h3> <p translate>(eenmalig)</p> </div> </div> <div class="col-lg-4 col-md-4"> <div> </div> </div> </div> <div class="row"> <div class="col-lg-12 col-md-12"> <div class="center-block"> <div style="text-align: center; display: block; font-size : 4em; color : #04a669" class="glyphicon glyphicon-plus-sign"> </div> </div> </div> </div> <div class="row"> <div class="col-lg-4 col-md-6"> <div class="well product-well-small"> <h3 translate>Basis</h3> <h1 class="large green">30</h1> <p translate>activiteiten per maand</p> <h3 class="price" translate="100_per_maand">&euro; 1 per maand</h3> <a href="#/order-agenda?type=basis"><button type="button" class="btn btn-green" translate>Bestel</button></a> </div> </div> <div class="col-lg-4 col-md-6"> <div class="well product-well-small"> <h3 translate>Groot</h3> <h1 class="large green">100</h1> <p translate>activiteiten per maand</p> <h3 class="price" translate="250_per_maand">&euro; 2,50 per maand</h3> <a href="#/order-agenda?type=groot"><button type="button" class="btn btn-green" translate>Bestel</button></a> </div> </div> <div class="col-lg-4 col-md-6"> <div class="well product-well-small"> <h3 translate>Onbeperkt</h3> <h1 class="large green"> > 100</h1> <p translate>activiteiten per maand</p> <h3 class="price" translate="500_per_maand">&euro; 5 per maand</h3> <a href="#/order-agenda?type=onbeperkt"><button type="button" class="btn btn-green" translate>Bestel</button></a> </div> </div> </div> </div> </div> <!--


<div class="content-section-b">

    <div class="row lead">

        <div class="col-lg-10 col-sm-10 " >
            <h1 id="kaarten">Kaarten</h1>
        </div>
     </div>

    <div class="row">
        <div class="col-lg-2 col-sm-2 " >
            </div>

            <div class="col-lg-3 col-sm-3 " >

                <h3 class="green">Wat is een kaart?</h3>

                <p class="font18">
                    Een kaart is een scherm op de DayClock. Elke kaart heeft een bepaalde functionaliteit, bijvoorbeeld een agenda functie.
                </p>

                <p class="font18">
                    Elke kaart wordt afwisselend getoond. Een kaart blijft standaard 30 seconden zichtbaar, maar dit is natuurlijk instelbaar.
                </p>

            </div>

            <div class="col-lg-3 col-sm-3 " >

                <h3 class="green">Klok, Agenda &amp; Foto</h3>
                <p class="font18">
                    De <b>DayClock</b> beschikt over 3 kaarten : Klok, Agenda &amp; Foto

                    <ul class="font18">
                        <li><b>Klok</b> - Toont de dag,datum, dagdeel &amp; tijd</li>

                        <li><b>Agenda</b> - Toont een activiteit op een bepaald tijdstip.</li>

                        <li><b>Foto</b> - Toont een foto</li>

                    </ul>

                </p>


                </p>

            </div>

            <div class="col-lg-3 col-sm-3 " >

                <h3 class="green">Nieuwe kaarten</h3>
                <p class="font18">
                    In de nabije toekomst zullen er nieuwe kaarten komen.
                </p>

                <p class="font18">Heeft u idee voor een interessante kaart? Neem dan contact met ons op.</p>

            </div>
        </div>

</div>
--> </div></div>