<div class="intro-header-small"> <div class="container"> <div class="row"> <div class="col-lg-12 col-sm-12"> <h2 translate>Bestelling</h2> </div> </div> </div> </div> <div class="content-section-a"> <div class="container"> <div class="row"> <div class="col-lg-8 lead"> </div> </div> <form id="bestelling" name="order" action="http://www.dayclocks.nl/send.php" method="POST"> <div class="row"> <div class="col-lg-8 lead"> <form role="form"> <input type="hidden" name="artikel" value="standaard"> <input type="hidden" name="prijs" value="139,95"> <h3>DayClock - {{$root.orderedProductName}}</h3> <section data-ng-include="'views/includes/order.html'"></section> </form> </div> <div class="col-lg-3"> <!--
                        <img class="img-rounded img-responsive" src="../img/standard.922ff80c.png"/>
                        <p translate>
                            Afmeting 19 x 12 cm. De stroomadapter is inbegrepen.
                        </p>

                        <p translate>
                            Standaard wordt de DayClock franco geleverd.
                            Ophalen in Deventer kan natuurlijk ook.
                        </p>
                       --> </div> </div> </form> </div> <!-- /.container --> </div>