<div class="content-page-heading"> <div class="container"> <div class="row"> <div class="col-lg-10 col-sm-10 col-xs-12"> <h1 class="page-heading" translate>Winkel</h1> </div> <div class="col-lg-1 col-sm-1 col-xs-12"> <!--<button class="btn btn-green" style="margin-top: 60px">Bestellen</button>--> </div> </div> </div> </div> <div class="content-section-b"> <div class="container"> <div class="shop-products"> <div class="shop-product" ng-repeat="product in products"> <div class="row"> <div class="col-lg-5 col-md-5"> <img src="{{product.image}}" class="img-responsive"> </div> <div class="col-lg-7 col-md-7"> <h1 style="min-height: 50px">{{product.title}}</h1> <p style="min-height: 100px">{{product.description}}</p> <h2 ng-show="product.price !== 'op aanvraag'" style="float : right">&euro; {{product.price}}</h2> <h2 ng-show="product.price == 'op aanvraag'" style="float : right">{{product.price}}</h2> <br style="clear: both"> <br style="clear: both"> <button class="btn-green btn" translate data-ng-click="setShowPlan()" data-ng-show="{{product.plan && product.available}}">Abonnement</button> <button ng-click="order(product)" class="btn-green btn" style="float:right" data-ng-show="{{product.available}}" translate>Bestel</button> </div> </div> </div> </div> <div data-ng-show="planEnabled"> <i data-ng-click="setHidePlan()" class="green fa fa-times-circle fa-3x" style="float: right"></i> <div class="shop-products"> <div class="shop-plan" ng-repeat="plan in plans"> <div style="text-align: center"> <h2>{{plan.name}}</h2> <p>{{plan.description}}</p> <h2>{{plan.activities}}</h2> <p>activiteiten per maand</p> <h2>&euro; {{plan.price}} </h2> <p>per maand</p> </div> </div> </div> </div> <!--
    <div class="shop-products">

      <div class="shop-ad" >
        <h1>Gratis bezorging</h1>
      </div>

      <div class="shop-ad-1">
        <h1>Gratis bezorging</h1>
      </div>


    </div>
--> </div> </div>