
<md-card layout-padding>
  <div layout="column" >

    <h2 class="md-title" trans>Wijzig groep</h2>

    <md-input-container >
      <label trans>Groep</label>
      <input name="group" ng-model="name" required  >
    </md-input-container>

    <div class="row" >
      <div class="col-lg-6 col-sm-6">
        <md-button class="md-raised" ng-click="cancel()"><span trans>Annuleren</span></md-button>
        <md-button class="md-raised md-primary" ng-click="save()"><span trans>Bewaren</span></md-button>
      </div>
    </div>



  </div>

</md-card>
