<md-card layout-padding>
  <div layout="column" >

    <!--
    <ul class="breadcrumb">
      <li trans>Groepen</li>
    </ul>-->

    <h2 class="md-title" trans>Groepen</h2>

    <md-data-table-toolbar>
      <a href="#/adminmd/groups/new">
        <md-button class="md-raised md-primary" ><span trans>Nieuw</span></md-button>
      </a>
    </md-data-table-toolbar>

    <md-data-table-container>
      <table md-table md-progress="deferred">
        <thead md-head md-order="query.order" md-trigger="onOrderChange">
        <tr md-row>
          <th md-column order-by="name" trans>Naam</th>
          <th></th>
        </tr>
        </thead>
        <tbody md-body>
        <tr md-row md-auto-select ng-repeat="group in groups">
          <td md-cell>{{group.name}}</td>
          <td md-cell>
            <i data-ng-hide="hasRoleDemo()" data-ng-click="members(group.id)" class="color-green fa fa-users fa-15x"
               style="margin-right: 10px"></i>
            <i data-ng-hide="hasRoleDemo()" data-ng-click="edit(group.id)" class="color-green fa fa-edit fa-15x"
               style="margin-right: 10px"></i>
            <i data-ng-hide="hasRoleDemo()" data-ng-click="delete(group.id)" class="color-green fa fa-trash fa-15x"
               style="margin-right: 10px"></i>
            <!--<i data-ng-hide="hasRoleDemo()" data-ng-click="delete(activity.key)" class="color-green fa fa-trash-o fa-1x" ></i>-->
          </td>
        </tr>
        </tbody>
      </table>
    </md-data-table-container>
  </div>

</md-card>
