<md-card layout-padding>
  <div layout="column">

    <md-card class="md-card-well" ng-show="message != ''">
      {{message}}
    </md-card>


    <h2 class="md-title">{{group.name}}</h2>

    <div layout="row">

      <md-autocomplete flex="40"
                       ng-disabled="isDisabled"
                       md-no-cache="noCache"
                       md-selected-item="selectedItem"
                       md-search-text-change="searchTextChange(ctrl.searchText)"
                       md-search-text="searchText"
                       md-selected-item-change="selectedItemChange(item)"
                       md-items="item in querySearch(searchText)"
                       md-item-text="item.display"
                       md-min-length="0"
                       placeholder="">
        <md-item-template>
          <span md-highlight-text="searchText" md-highlight-flags="^i">{{item.display}}</span>
        </md-item-template>
        <md-not-found>
          No states matching "{{searchText}}" were found.

        </md-not-found>
      </md-autocomplete>


      <div flex>
        <md-button class="md-raised md-primary" ng-click="addMember()"><span trans>Toevoegen</span></md-button>

      </div>
    </div>


    <md-data-table-container>
      <table md-table md-progress="deferred">
        <thead md-head md-order="query.order" md-trigger="onOrderChange">
        <tr md-row>
          <th md-column width="250px" order-by="name" trans>Gebruikersnaam</th>
          <th md-column width="250px" order-by="role" trans>Rol</th>
          <!--<th md-collumn width="200px">Voornaam</th>-->
          <th md-column trans>Achternaam</th>
          <th></th>
        </tr>
        </thead>
        {{sessionStorage.getItem('username')}}
        <tbody md-body>
        <tr md-row md-auto-select ng-repeat="member in members">
          <td md-cell>{{member.username}}</td>
          <td md-cell>{{member.role | formatRole}}</td>
          <!-- <td md-cell>{{member.firstname}}</td>-->
          <td md-cell>{{member.surname}}</td>
          <td md-cell>
            <i data-ng-click="removeMember(member.username)" class="color-green fa fa-trash-o fa-15x"></i>
          </td>
        </tr>
        </tbody>
      </table>
    </md-data-table-container>
  </div>

</md-card>
