
<md-card layout-padding>
  <div layout="column" >

    <h2 class="md-title" translate>Nieuwe gebruiker</h2>

    <md-input-container >
      <label translate>Gebruiker</label>
      <input name="member" ng-model="name" required  >
    </md-input-container>

    <div class="row" >
      <div class="col-lg-6 col-sm-6">
        <md-button class="md-raised" ng-click="cancel()" translate>Annuleren</md-button>
        <md-button class="md-raised md-primary" ng-click="save()" translate>Bewaren</md-button>
      </div>
    </div>



  </div>

</md-card>
