<md-card layout-padding>
  <div layout="column" >
    <h2 class="md-title" trans>Instellingen</h2>

    <md-data-table-toolbar>
      <a href="#/adminmd/institutions/new">
        <md-button class="md-raised md-primary" ><span trans>Nieuw</span></md-button>
      </a>
    </md-data-table-toolbar>

    <md-data-table-container>
      <table md-table md-progress="deferred">
        <thead md-head md-order="query.order" md-trigger="onOrderChange">
        <tr md-row>
          <th md-column order-by="name" trans>Naam</th>
          <th></th>
        </tr>
        </thead>
        <tbody md-body>
        <tr md-row md-auto-select ng-repeat="institution in institutions">
          <td md-cell>{{institution.name}}</td>
          <td md-cell>
          <!--  <i data-ng-click="edit(institution.id)" class="color-green fa fa-edit fa-15x"
               style="margin-right: 10px"></i>
            <i data-ng-click="delete(institution.id)" class="color-green fa fa-trash fa-15x"
               style="margin-right: 10px"></i>
               -->
          </td>
        </tr>
        </tbody>
      </table>
    </md-data-table-container>
  </div>

</md-card>
