<md-card layout-padding>
  <div layout="column" >
    <h2 class="md-title" trans>Nieuwe instelling</h2>

    <div layout="row">
      <md-input-container flex="50">
        <label trans>Naam</label>
        <input name="name" ng-model="name" required size="100">
        <div ng-messages="userForm.name.$error" ng-show="userForm.name.$dirty">
        </div>
      </md-input-container>
    </div>

    <div layout="row" flex="20">
      <md-button  data-ng-click="save()" class="md-raised md-primary"><span trans>Bewaren</span></md-button>
    </div>
  </div>

</md-card>
