<div class="content-page-heading"> <div class="container"> <div class="row"> <div class="col-lg-11 col-sm-11 col-xs-12"> <h1 class="page-heading" translate>Dagdeel met Agenda</h1> </div> <div class="col-lg-1 col-sm-1 col-xs-12"> <a href="#/shop"><button class="btn btn-green" style="margin-top: 60px">Bestellen</button></a> </div> </div> </div> </div> <div class="container"> <div class="row"> <div class="col-lg-1 col-sm-1 col-xs-12"> </div> <div class="col-lg-10 col-sm-10 col-xs-12 intro-header-agenda"> </div> </div> </div> <div class="content-section-a"> <div class="container"> <div class="row"> </div> </div> </div> <div class="content-section-a"> <div class="container"> <div class="row"> <div class="col-lg-6 col-sm-6 col-xs-12 lead"> <h2 translate>Agenda</h2> <p translate>DayClock DagDeel met Agenda biedt een agenda functie voor de DayClock om activiteiten weer te geven. Bijvoorbeeld om aan te geven of men naar de kapper of de bingo gaat. </p> </div> <div class="col-lg-5 col-sm-5 col-xs-12"> <img style="margin-top: 50px" class="img-rounded img-responsive" alt="dayclock dagdeel" src="img/agenda/agenda.4da336d0.jpg"> </div> </div> <div class="row"> <div class="col-lg-5 col-sm-5 col-xs-12"> <img style="margin-top: 50px" class="img-rounded img-responsive" alt="dayclock dagdeel" src="img/agenda/beheer.dbf952eb.png"> </div> <div class="col-lg-6 col-sm-6 col-xs-12 lead"> <h2 translate>Activiteiten</h2> <p translate>De activiteiten worden op de website van DayClocks.nl ingevoerd. Op deze manier kunt u op afstand allerlei activiteiten invoeren. En dan worden de activiteiten natuurlijk op het juiste moment op de DayClock getoond. </p> </div> </div> <div class="row"> <div class="col-lg-6 col-sm-6 col-xs-12 lead"> <h2 translate>Foto</h2> <p translate>Bij het aanmaken van een activiteit kan nu ook een foto worden toegevoegd. Deze foto wordt dan rechtsonder op de DayClock gedurende de activiteit getoond </p> </div> <div class="col-lg-5 col-sm-5 col-xs-12"> <img style="margin-top: 50px" class="img-rounded img-responsive" alt="foto activiteit" src="img/agenda/robin.ef5647ce.jpg"> </div> </div> </div> </div> <div data-ng-include="'views/product/abonnement.html'"></div> <div class="content-section-b" data-ng-controller="ProductCtrl"> <div class="container"> <div class="row"> <div class="col-lg-offset-3 col-lg-3 col-md-6"> <div number-of-activities></div> </div> <div class="col-lg-3 col-md-6"> <div class="well product-well-xs"> <h2>Foto's</h2> <h1>{{totalPhotos}}</h1> </div> </div> <!--
      <div class="col-lg-3 col-md-6 ">

        <div class="well product-well-xs">

        </div>

      </div>


      <div class="col-lg-3 col-md-6 ">

        <div class="well product-well-xs">

        </div>

      </div>--> </div> </div> </div>