<div layout="row" layout-fill layout-padding>

  <div flex></div>

  <md-card layout-padding flex="80">

    <form data-ng-submit="" class="signin form-horizontal" autocomplete="off" name="myForm">

      <div ng-show="!activated">
        <h1 trans>Activeren</h1>

        <p trans>#activate.welcome</p>

        <p trans>#activate.activate</p>

        <md-button data-ng-click="activate()" class="md-raised md-primary" ng-show="!activated"><span
          trans>Activeren</span></md-button>

      </div>
      <div ng-show="activated">
        <h1 trans>Geactiveerd</h1>
        <p ng-show="activated" trans>#activate.activated</p>

        <md-button data-ng-click="activate()" class="md-raised md-primary" ng-show="activated"><span trans>Inloggen</span>
        </md-button>
      </div>

    </form>
  </md-card>

  <div flex></div>

</div>


