<md-card layout-padding flex>


  <h2>Wijzig</h2>

  <div layout="column" flex="50">
    <md-input-container>
      <label translate>Gebruikersnaam</label>
      <input type="text" id="username" name="username" ng-model="user.username" size="80" maxlength="30"
             disabled>
    </md-input-container>

    <md-input-container>
      <label translate>Email</label>
      <input type="text" id="email" name="email" ng-model="user.email" maxlength="255" size="80">
    </md-input-container>

    <md-input-container flex="30"  style="margin-right : 10px">
      <label trans>Instelling</label>
      <md-select data-ng-model="user.institution">
        <md-option data-ng-value="-1">Geen</md-option>
        <md-option data-ng-value="institution.id" data-ng-repeat="institution in institutions">{{ institution.name }}</md-option>
      </md-select>
    </md-input-container>

    <md-input-container>
      <md-checkbox name="album" trans ng-model="user.hasAlbum">
        <span trans>Fotoalbum</span></md-checkbox>
    </md-input-container>

    <md-input-container>
      <md-checkbox name="speech" trans ng-model="user.hasSpeech">
        <span trans>Spraak</span></md-checkbox>
    </md-input-container>
  </div>

  <div class="row">
    <div class="flex-50">
      <md-button ng-click="cancel()" class="md-raised ">Annuleren</md-button>
      <md-button ng-click="save()" class="md-raised md-primary">Bewaren</md-button>
    </div>
  </div>


</md-card>








