<md-card layout-padding flex>
  <div data-ng-controller="UserCtrl">

    <h2>Nieuwe gebruiker</h2>

    <div layout="column" flex="50">
      <md-input-container>
        <label translate>Gebruikersnaam</label>
        <input type="text" id="usernamet" name="usernamet" class="form-control" ng-model="username" size="80"
               maxlength="30"
               required>
      </md-input-container>

      <md-input-container>
        <label translate>Email</label>
        <input type="text" id="email" name="email" class="form-control" ng-model="email" maxlength="255" size="80"
               required>
      </md-input-container>

      <md-input-container>
        <md-checkbox name="album" trans ng-model="hasAlbum">
          <span trans>Fotoalbum</span></md-checkbox>
      </md-input-container>

      <md-input-container>
        <md-checkbox name="speech" trans ng-model="hasSpeech">
          <span trans>Spraak</span></md-checkbox>
      </md-input-container>

      <div class="row">
        <div class="flex-50">
          <md-button ng-click="cancel()" class="md-raised ">Annuleren</md-button>
          <md-button ng-click="save()" class="md-raised md-primary">Bewaren</md-button>
        </div>
      </div>

    </div>


</md-card>








