<md-card layout-padding>
  <div layout="column">

    <h2 class="md-title" trans>Wachtwoord</h2>

    <div layout="column" flex="50">
      <div class="well error-message" ng-show="message != ''" style="margin-bottom : 20px;">
        {{message}}
      </div>
    </div>

    <form name="passwordForm" class="signin form-horizontal">
      <div layout="column" flex="30">

        <md-input-container>
          <label trans>Huidig wachtwoord</label>
          <input type="password" data-ng-model="currentPassword" placeholder="" required>
        </md-input-container>


        <md-input-container>
          <label trans>Nieuw wachtwoord</label>
          <input type="password" id="newPassword" data-ng-model="newPassword" placeholder="" required>
        </md-input-container>

        <md-input-container>
          <label trans>Herhaal wachtwoord</label>
          <input type="password" id="repeatPassword" data-ng-model="repeatPassword" placeholder="" required>
        </md-input-container>

        <div layout="row">
          <md-button data-ng-click="cancel()" class="md-raised"><span trans>Annuleren</span></md-button>
          <md-button data-ng-click="save()" class="md-raised md-primary" ng-disabled="passwordForm.$invalid"><span trans>Bewaren</span></md-button>
        </div>
      </div>
    </form>


  </div>
</md-card>
