<div layout="row" layout-fill layout-padding>

  <div flex></div>

  <md-card layout-padding flex="80" style="margin-top : 100px;">

    <h2 trans>Account aanmaken</h2>

    <p trans>Vul hieronder je persoonlijke gegevens in om je dayclocks.nl account aan te maken.</p>

    <fieldset>
      <div layout="column" flex>

        <md-input-container>
          <label trans>Titel (mevr/dhr)</label>
          <input type="text" id="title" name="title" data-ng-model="title" flex="20"  required>
        </md-input-container>


        <md-input-container>
          <label trans>Voornaam</label>
          <input type="text" id="firstname" name="firstname" data-ng-model="firstname" flex="40"  required>
        </md-input-container>

        <md-input-container>
          <label trans>Tussenvoegsel</label>
          <input type="text" id="infix" name="infix" data-ng-model="infix" flex="40">
        </md-input-container>

        <md-input-container>
          <label trans>Achternaam</label>
          <input type="text" id="lastname" name="surname" data-ng-model="surname" flex="80" required>
        </md-input-container>

        <md-input-container>
          <label trans>Adres</label>
          <input type="text" id="address" name="address" data-ng-model="address" flex="80" required>
        </md-input-container>

        <md-input-container>
          <label trans>Postcode</label>
          <input type="text" id="postalcode" name="postalcode" data-ng-model="postalcode" flex="40"required>
        </md-input-container>


        <md-input-container>
          <label trans>Plaats</label>
          <input type="text" id="city" name="city" data-ng-model="city" flex="80" required>
        </md-input-container>

        <md-input-container>
          <label trans>Land</label>
          <input type="text" id="country" name="country" data-ng-model="country" flex="80"required>
        </md-input-container>

        <md-input-container>
          <label trans>Telefoon</label>
          <input type="text" id="telephone" name="telephonenumber" data-ng-model="telephonenumber" flex="40" required>
        </md-input-container>

        <div layout="row" flex>
          <div flex>
          </div>
          <div flex="15">
            <md-button data-ng-click="goStepFinish()" class="md-raised md-primary"
                       trans>Ga verder</span></md-button>
          </div>
        </div>


      </div>
    </fieldset>
    </form>


  </md-card>

  <div flex></div>


</div>






