<div layout="row" layout-fill layout-padding>

  <div flex></div>

  <md-card layout-padding flex="80" style="margin-top : 100px;">

    <h2 trans>Account aanmaken</h2>

    <p trans>Vul hieronder je account gegevens in om je dayclocks.nl account aan te maken.</p>

    <form data-ng-submit="" autocomplete="off" name="form">
      <fieldset>
        <div layout="column" flex>

          <md-input-container>
            <label trans>Email</label>
            <input type="text" id="email" name="email" data-ng-model="email" ng-pattern="emailPattern" flex="80"
                   required>
            <span ng-show="form.email.$error.pattern" trans>Geen geldig emailadres</span>
          </md-input-container>

          <md-input-container>
            <label trans>Gebruikersnaam</label>
            <input type="text" id="username" name="username" data-ng-model="username" flex="40" ng-blur="checkUsername()" required>
            <div ng-messages="form.username.$error" style="color:maroon;" ng-show="form.username.$error['username-exists']">
              <div style="font-size: 10pt; margin-top: 5px" ng-message="username-exists" trans>Gebruikersnaam bestaat al</div>
            </div>
          </md-input-container>

          <md-input-container>
            <label trans>Wachtwoord</label>
            <input type="password" id="password" name="password" ng-blur="validatePassword()" data-ng-model="password"
                   flex="40" required>
          </md-input-container>

          <md-input-container>
            <label trans>Bevestig je wachtwoord</label>
            <input type="password" id="confirmpassword" name="confirmpassword" flex="40"
                   ng-blur="validatePassword()" data-ng-model="confirmPassword" required>
            <div ng-messages="form.confirmpassword.$error" style="color:maroon;" >
              <div style="font-size: 10pt; margin-top: 5px" ng-message="invalidpassword" trans>Wachtwoorden zijn niet gelijk</div>
            </div>

          </md-input-container>

        </div>

        <div layout="row" flex>
          <div>
            <md-button data-ng-click="goStepLogin()" class="md-raised" ><span trans>Terug</span></md-button>
          </div>
          <div flex="80"></div>
          <div flex="15">
            <md-button data-ng-click="goStepPersonal()" class="md-raised md-primary" ng-disabled="!form.$valid"><span trans>Ga verder</span></md-button>
          </div>
        </div>


      </fieldset>
    </form>


  </md-card>

  <div flex></div>


</div>






