<div layout="row" layout-fill layout-padding>

  <div flex></div>

  <md-card layout-padding flex="80" data-ng-controller="AuthenticateCtrl" style="margin-top : 100px;">

    <h2 trans>Klaar!</h2>



  </md-card>

  <div flex></div>


</div>






