<div layout="row" layout-padding>

  <div flex></div>

  <md-card layout-padding flex="40" data-ng-controller="AuthenticateCtrl" style="margin-top : 100px;">

    <h2 trans>Inloggen</h2>

    <form data-ng-submit="" class="signin form-horizontal" autocomplete="off">

      <div ng-show="isLoading" class="text-center">Inloggen.....</div>

      <div layout="column" flex>

        <div data-ng-show="error" class="error-message text-danger">
          <strong data-ng-bind="error"></strong>
        </div>

        <md-input-container>
          <label trans>Gebruikersnaam</label>
          <input id="username" data-ng-model="username" placeholder="">
        </md-input-container>


        <md-input-container>
          <label trans>Wachtwoord</label>
          <input type="password" id="password" data-ng-model="password" placeholder="">
        </md-input-container>


        <div layout="row" layout-align="center">

          <md-button flex="80" data-ng-click="signin()" class="md-raised md-primary"><span trans>Inloggen</span>
          </md-button>
        </div>


        <!--

        <div layout="row" layout-align="center">
          <div>Nog geen account?</div>
        </div>

        <div layout="row" layout-align="center">
          <md-button flex="80" data-ng-click="registration()" class="md-raised" trans>Account
            aanmaken</span></md-button>
        </div>

-->


      </div>
    </form>


  </md-card>

  <div flex></div>


</div>

<div layout="row" layout-padding style="margin-top: 100px">
  <div flex></div>
  <div layout="column" style="width: 350px;">
    <p style="text-align: center" trans>Download ook onze DayClocks Agenda App</p>
    <div style="text-align: center">
      <a href="https://play.google.com/store/apps/details?id=nl.dayclock.agenda&hl=nl" target="_blank"><img src="img/playstore.png" height="40px" /></a>

      <a href="https://itunes.apple.com/us/app/dayclocks-agenda/id1117052650?mt=8" target="_blank"><img src="img/appstore.png" height="40px" /></a>
    </div>

  </div>
  <div flex></div>
</div>






