<md-card layout-padding flex data-ng-controller="UserCtrl">
  <h2 class="md-title" trans>Cliënten</h2>

  <md-data-table-toolbar ng-show="!selected.length">

    <md-button ng-click="newuser()" class="md-raised md-primary">Nieuw</md-button>

  </md-data-table-toolbar>

  <md-data-table-container>
    <table md-table md-progress="deferred">
      <thead md-head md-order="query.order" md-on-reorder="onOrderChange">
      <tr md-row>
        <th md-column md-order-by="Gebruikersnaam">Username</th>
        <th md-column>Wachtwoord</th>
        <th md-column>Laatste Wifi</th>
        <th md-column>Email</th>
        <th md-column md-order-by="creationDate">Datum</th>
        <th></th>
      </tr>

      </thead>
      <tbody md-body>
      <tr md-row md-auto-select ng-repeat="user in users|limitTo: query.limit : (query.page -1) * query.limit">
        <td md-cell data-ng-click="edit(user.username)">{{user.username}}</td>
        <td md-cell>{{user.passwordUser}}</td>
        <td md-cell>{{user.lastAccess}}</td>
        <td md-cell>{{user.email}}</td>
        <td md-cell>{{user.creationDate}}</td>
        <td md-cell><i  data-ng-click="showConfirmDelete($event, user.username)" class="color-green fa fa-trash-o fa-15x" ></i></td>
      </tr>
      </tbody>
    </table>
  </md-data-table-container>

<!--  <md-table-pagination md-limit="query.limit" md-page="query.page" md-total="{{users.count}}" md-page-select="true"
                       md-limit-options="limitOptions"></md-table-pagination>
                       -->

</md-card>




