      <md-card layout-padding>
        <div layout="column" >

          <h2 class="md-title" trans>Cliënten</h2>

          <md-data-table-toolbar ng-show="!selected.length">
            <a href="#/adminmd/members/new"><md-button class="md-raised md-primary"><span trans>Nieuw</span></md-button></a>
          </md-data-table-toolbar>

          <md-data-table-container>
            <table md-table  md-progress="deferred">
              <thead md-head md-order="query.order" md-trigger="onOrderChange">
              <tr md-row>
                <th md-column order-by="name" trans>Gebruikersnaam</th>
                <th md-column trans>Rol</th>
                <th md-column trans>Naam</th>
                <th md-column trans>Email</th>
                <th md-column></thmd-column>
              </tr>
              </thead>
              <tbody md-body>
              <tr md-row md-auto-select ng-repeat="member in members" >
                <td md-cell>{{member.username}}</td>
                <td md-cell>{{member.role | formatRole}}</td>
                <td md-cell>{{member.title}} {{member.firstname}} {{member.surname}}</td>
                <td md-cell>{{member.email}}</td>
                <td md-cell>
                  <i data-ng-hide="hasRoleDemo()" data-ng-click="delete(member.username)" class="color-green fa fa-trash-o fa-15x" ></i>
                </td>
              </tr>
              </tbody>
            </table>
          </md-data-table-container>

          <!--<md-table-pagination md-page="5" md-limit="1" md-total="200" ></md-table-pagination>-->
      </md-card>
