<md-card layout-padding>
  <form data-ng-submit="" autocomplete="off" name="form">
    <div layout="column">

      <h2 class="md-title" trans>Nieuwe cliënt</h2>


      <md-input-container>
        <label trans>Naam</label>
        <input name="name" ng-model="name" required placeholder="">
      </md-input-container>


      <md-input-container>
        <label trans>Email</label>
        <input name="email" ng-model="email" required placeholder="">
      </md-input-container>

      <md-input-container>
        <label trans>Gebruikersnaam</label>
        <input name="username" ng-model="username" placeholder="" ng-change="checkUsername()" required>
        <div ng-messages="form.username.$error" style="color:maroon;" ng-show="form.username.$error['username-exists']">
          <div style="font-size: 10pt; margin-top: 5px" ng-message="username-exists" trans>Gebruikersnaam bestaat al</div>
        </div>
      </md-input-container>



      <md-checkbox ng-model="isCaretaker" >
        <span trans>Verzorgende</span>
      </md-checkbox>

      <md-checkbox ng-model="isGroupAdmin" >
        <span trans>Groepsbeheerder</span>
      </md-checkbox>




      <div class="row">
        <div class="col-lg-6 col-sm-6">
          <md-button class="md-raised" ng-click="cancel()" ><span trans>Annuleren</span></md-button>
          <md-button class="md-raised md-primary" ng-click="save()" ng-disabled="!form.$valid" ><span trans>Bewaren</span></md-button>
        </div>
      </div>


    </div>

  </form>

</md-card>
