<md-card layout-padding>
  <md-grid-list layout="column">

    <h2 class="md-title" trans>Verjaardag</h2>

    <form name="birthdayForm" novalidate>

      <div layout="row">
        <md-input-container flex="50">
          <label trans>Naam</label>
          <input name="name" ng-model="birthday.name" required size="50">
          <div ng-messages="userForm.name.$error" ng-show="userForm.name.$dirty">
          </div>
        </md-input-container>
      </div>

      <div layout="row">
        <md-input-container flex="50">
          <label trans>Felicitatie</label>
          <input name="title" ng-model="birthday.title" required size="50">
          <div ng-messages="userForm.title.$error" ng-show="userForm.title.$dirty">
          </div>
        </md-input-container>
      </div>

      <div layout="row">
          <div trans>Geboortedatum</div>
          <md-datepicker datepicker-validation-fix ng-model="birthDate" required></md-datepicker>

      </div>


      <div layout="row" style="margin-top : 20px">
      </div>


      <div layout="row">
        <md-button data-ng-click="cancel()" class="md-raised"><span trans>Annuleren</span></md-button>
        <md-button data-ng-click="save()" class="md-raised md-primary" ng-disabled="birthdayForm.$invalid"><span trans>Bewaren</span></md-button>
      </div>


    </form>


</md-card>
