<div layout="row" flex>

  <md-card layout-padding flex>
    <div layout="column">
      <h2 class="md-title" trans>Verjaardagen</h2>

      <md-data-table-toolbar ng-show="!selected.length">
          <md-button data-ng-click="new()" class="md-raised md-primary"><span trans>Nieuw</span></md-button>

      </md-data-table-toolbar>

      <md-data-table-container>
        <table md-table md-progress="deferred">
          <thead md-head md-order="query.order" md-on-reorder="onOrderChange">
          <tr md-row ng-if="(getLanguage()  == null ) || (getLanguage()  == 'nl' )">
            <th md-column md-order-by="name"<span trans>Naam</span></th>
            <th md-column md-order-by="birthDate" style="width : 100px"><span trans>Geboortedatum</span></th>
            <th md-column md-order-by="title"><span trans>Felicitatie</span></th>

            <th md-column></th>
          </tr>
          </thead>
          <tbody md-body>

          <tr md-auto-select ng-repeat="birthday in birthdays  | limitTo: query.limit : (query.page -1) * query.limit">
            <td md-cell data-ng-click="edit(birthday.id)">{{birthday.name}}</td>
            <td md-cell data-ng-click="edit(birthday.id)">{{birthday.birthDate | formatDate}} </td>
            <td md-cell data-ng-click="edit(birthday.id)">{{birthday.title}}</td>


            <td md-cell>
              <i data-ng-click="delete(birthday.id)" class="color-green fa fa-trash-o fa-2x"></i>
            </td>

          </tr>
          </tbody>
        </table>
      </md-data-table-container>
      <md-table-pagination md-limit="query.limit" md-limit-options="limitOptions" md-page="query.page"
                           md-total="{{birthday.length}}" md-page-select="true"></md-table-pagination>
    </div>

  </md-card>

</div>

