<div class="content-section-a" data-ng-controller="AuthenticateCtrl"> <div class="container"> {{signout()}} <div class="row vspace-page"> <div class="col-lg-12 col-sm-12 minheight"> <h2>Uitgelogd</h2> <p> U bent nu uitgelogd. </p> </div> </div> </div> </div>