<section class="vspace-page section-login" data-ng-controller="AuthenticateCtrl"> <div class="row"> <div class="col-md-offset-4 col-md-4 login minheight"> <form data-ng-submit="" class="signin form-horizontal" autocomplete="off"> <fieldset> <div class="center-block text-center login"> <img src="img/logo.png"> </div> <div data-ng-show="error" class="error-message text-danger"> <strong data-ng-bind="error"></strong> </div> <md-input-container> <input type="text" id="username" name="username" class="form-control" data-ng-model="username" placeholder="gebruikersnaam"> </md-input-container> <md-input-container> <input type="password" id="password" name="password" class="form-control" data-ng-model="password" placeholder="wachtwoord"> </md-input-container> <div class="text-center form-group"> <button data-ng-click="signin()" class="btn btn-green full-width" trans>Inloggen</button> </div> <!--
          <div>
            <p>Nog geen account?</p>
            <div class="text-center form-group">
              <button data-ng-click="registration()" class="btn btn-green full-width" tans>Account aanmaken</span></button>
            </div>
          </div>
          --> <br> <div ng-show="isLoading" class="text-center">Inloggen.....</div> </fieldset> </form> </div> </div> </section>