<section class="vspace-page section-login" data-ng-controller="AuthenticateCtrl"> <div class="row"> <div class="col-md-offset-3 col-md-6 login minheight"> <h1 translate>Registreren</h1> </div> </div> </section>