
  <div class="lato" layout-fill layout-align="top" ng-controller="FilterPanelController">

    <md-button ng-click="showGroups()"><i class="color-green fa fa-users fa-2x"></i></md-button>
    <md-button ng-click="showMembers()"><i class="color-green fa fa-user fa-2x"></i></md-button>

    <div ng-show="isGroupsVisible" >
      <md-data-table-toolbar style="background : transparent">
        <h2 class="md-title">Groepen</h2>
      </md-data-table-toolbar>

      <md-data-table-container >
        <table  md-data-table  md-progress="deferred" style="background : transparent">

          <thead md-order="query.order" md-trigger="onOrderChange">
          </thead>
          <tbody>
          <tr>
            <td translate>Alle groepen</td>
          </tr>
          <tr md-auto-select ng-repeat="group in groups" ng-click="showRow()">
            <td ng-show="group.name === selectedGroup" class="selected-row" ng-click="selectRow(group.name)">{{group.name}}</td>
            <td ng-show="group.name !== selectedGroup" ng-click="selectRow(group.name)" >{{group.name}}</td>
          </tr>
          </tbody>
        </table>
      </md-data-table-container>
    </div>


    <div ng-show="isMembersVisible">
      <md-data-table-toolbar style="background : transparent">
        <h2 class="md-title">Bewoners</h2>
      </md-data-table-toolbar>

      <md-data-table-container  >
        <table md-data-table  md-progress="deferred" style="background : transparent">
          <thead md-order="query.order" md-trigger="onOrderChange">

          </thead>
          <tbody>
          <tr md-auto-select ng-repeat="member in members">
            <td>{{member.name}}</td>
          </tr>
          </tbody>
        </table>
      </md-data-table-container>
    </div>

  </div>


