<section layout="row" data-ng-controller="AuthenticateCtrl" style="height : 1500px">

  <md-sidenav class="md-sidenav-left md-whiteframe-z1" md-component-id="left" md-is-locked-open="$mdMedia('gt-md')">
    <md-toolbar style="background-color : black; text-align : center">


      <h1 style="margin-top: 0; background-color: #fff; padding: 5px; height: 64px;"><img src="{{logo}}"/></h1>


    </md-toolbar>

    <md-content data-ng-controller="AuthenticateCtrl">
      <div class="side-menu">
        <menu-link><a href="#/adminmd/agenda" class="md-button md-ink-ripple lato"><i
          class="fa fa-calendar-o ma-icon"></i><span trans>Agenda</span></a></menu-link>

        <menu-link ng-show="!hasInstitute() && !hasGroupAdmin() && !isCaretaker()"><a href="#/adminmd/birthday" class="md-button md-ink-ripple lato"><i
          class="fa fa-birthday-cake ma-icon"></i><span trans>Verjaardagen</span></a></menu-link>

        <menu-link ng-show="hasAlbum()"><a href="#/adminmd/album" class="md-button md-ink-ripple lato"><i
          class="fa fa-picture-o ma-icon"></i> Album</a></menu-link>

        <menu-link ng-show="hasInstitute() || hasGroupAdmin()"><a href="#/adminmd/groups" class="md-button md-ink-ripple lato"><i
          class="fa fa-users ma-icon"></i><span trans>Groepen</span></a></menu-link>

        <menu-link ng-show="hasInstitute()"><a href="#/adminmd/members" class="md-button md-ink-ripple lato"><i
          class="fa fa-user ma-icon"></i><span trans>Cliënten</span></a></menu-link>

      </div>




      <div class="side-menu" ng-show="isAdmin() || isLicense()">

        <md-divider/>

        <!--
                <menu-link ng-show="isAdmin()"><a href="#/adminmd/institution" class="md-button md-ink-ripple lato"><i
                  class="fa fa-home ma-icon"></i> Instelling</a></menu-link>-->

        <section ng-show="isAdmin() || isLicense()">

          <h3 style="color : white; text-align: center">Admin</h3>

          <menu-link><a href="#/adminmd/users" class="md-button md-ink-ripple lato"><i class="fa fa-user ma-icon"></i>
            Gebruikers</a></menu-link>

          <menu-link><a href="#/adminmd/institutions" class="md-button md-ink-ripple lato"><i class="fa fa-home ma-icon"></i>
            Instellingen</a></menu-link>

        </section>


      </div>


    </md-content>
  </md-sidenav>


</section>
