<md-toolbar >
  <div class="md-toolbar-tools">

    <md-button  data-ng-controller="AuthenticateCtrl" class="md-icon-button" aria-label="Settings"  ng-click="toggleLeft()"  hide-gt-md="">
      <i class="fa fa-bars ma-icon"></i>
    </md-button>

    <h1 data-ng-controller="AuthenticateCtrl" >{{getInstitutionName()}}</h1>
    <span flex></span>
  <!--  <md-button><a href="/#/signin" translate>Inloggen </a></md-button>-->
    <md-menu>

      <md-button class="md-button md-ink-ripple lato" ng-click="$mdOpenMenu($event)" data-ng-controller="MainCtrl">
        <i style="font-size: 16pt" class="fa fa-user ma-icon"></i> {{getUsername()}}
      </md-button>
      <md-menu-content width="6">
        <md-menu-item data-ng-controller="AuthenticateCtrl">
          <span class="md-button md-ink-ripple lato"  ng-click="changePassword()"><i class="fa fa-cog ma-icon"></i> Wachtwoord</a></span>
         </md-menu-item>
        <md-menu-item data-ng-controller="AuthenticateCtrl">
            <span class="md-button md-ink-ripple lato" ng-click="signout()" trans>Uitloggen</span>
        </md-menu-item>
      </md-menu-content>

    </md-menu>

    <md-menu data-ng-controller="AuthenticateCtrl">

      <md-button class="md-button md-ink-ripple lato" ng-click="$mdOpenMenu($event)">
        <i   style="font-size: 16pt" class="fa fa-globe ma-icon"></i>
      </md-button>
      <md-menu-content >
        <md-menu-item >
          <span class="md-button md-ink-ripple lato" ng-click="switchLanguage('nl')" style="text-align: center" trans><img src="img/netherlands.png" height="50%"/></span>
        </md-menu-item>
        <md-menu-item>
          <span class="md-button md-ink-ripple lato" ng-click="switchLanguage('en')" style="text-align: center" trans><img src="img/usa.png" height="50%"/></span>
        </md-menu-item>
        <md-menu-item>
          <span class="md-button md-ink-ripple lato" ng-click="switchLanguage('de')" style="text-align: center" trans><img src="img/germany.png" height="50%"/></span>
        </md-menu-item>
        <md-menu-item>
          <span class="md-button md-ink-ripple lato" ng-click="switchLanguage('fr')" style="text-align: center" trans><img src="img/france.png" height="50%"/></span>
        </md-menu-item>
      </md-menu-content>

    </md-menu>

  </div>

</md-toolbar>
